<div class="container">
  <h1>All lists</h1>
  <%=link_to "Create new list", new_list_path, class:"btn btn-primary mb-3" %>
  <ul>
      <% @lists.each do |list| %>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <div class="img-fluid rounded-start">
                <% if list.photo.attached?%>
                  <%= cl_image_tag list.photo.key, height: 80, width: 150, crop: :fill %>
                <% else %>
                  <%= "No photo" %>
                <% end  %>
                </div>
              </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title no-text-deco"><%=link_to list.name, list_path(list)%></h5>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </ul>
</div>
