<div class="container">
  <h1>All lists</h1>
  <%=link_to "Create new list", new_list_path, class:"btn btn-primary mb-3" %>
  <ul>
      <% @lists.each do |list| %>
        <div class="card m-4 w-75 h-40 p-4" style="width: 18rem;">
            <h3><%=link_to list.name, list_path(list)%></h3>
        </div>
      <% end %>
  </ul>
  <%= cl_image_tag("THE_IMAGE_ID_FROM_LIBRARY",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("IMAGE_WITH_FACE_ID",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
</div>
